--no-use-wheel
# supports "peep"; see https://github.com/erikrose/peep
# to use:
#    virtualenv venv
#    ./venv/bin/pip install peep
#    ./venv/bin/peep install -r requirements.txt
#
# the txtorcon hashes are from original files I personally produced.
# the others, I downloaded from 3 different network perspectives and
# verified the same hashes. so take those with salt.
# "peep hash <file>" will produce a hash for you.

# NOTE that you must install pip==6.1.1 in order for peep to work (it
# doesn't yet work with pip 7+)

humanize
ansicolors
backports.lzma
txtorcon>=0.14.0
txsocksx==1.15.0.2
