ansicolors==1.1.8
asn1crypto==0.24.0
attrs==18.2.0
Automat==0.7.0
cffi==1.11.5
Click==7.0
constantly==15.1.0
cryptography==2.4.2
humanize==0.5.1
hyperlink==18.0.0
idna==2.8
incremental==17.5.0
pyasn1==0.4.5
pyasn1-modules==0.2.3
pycparser==2.19
PyHamcrest==1.9.0
pyOpenSSL==18.0.0
service-identity==18.1.0
setuptools==40.6.3
six==1.12.0
Twisted==18.9.0
txtorcon==19.0.0
zope.interface==4.6.0
